<section class="background-radial-gradient overflow-hidden" *ngIf="perso">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-lg-2">
    <div class="row gx-lg-5 align-items-center mb-5 mt-md-4 mt-lg-1"><!--mb-5 mt-md-4 mt-lg-5-->
      <div class="col-lg-6 mb-5 mb-lg-0 text-left text">
        <h2 class="my-3">Estas en:</h2>
        <h1 class="my-3 display-5 fw-bold ls-tight">
          Header 
        </h1 >
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate><!--------------------------form------------------------------->
              <!-- titulo -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-login text-left">
                    <h2 class="titulo-login">Editar Header</h2>
                  </div>
                </div>
              </div>
              
              <!-- Nombre input -->
              <div class="form-outline mb-4 text-left">
                <label class="form-label" for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="perso.nombre" required> 
              </div>

              <!-- Apellido input -->
              <div class="form-outline mb-4 text-left">
                <label class="form-label" for="apellido">Apellido</label>
                <input type="text" id="apellido" class="form-control" name="apellido" [(ngModel)]="perso.apellido" required/> 
              </div>

              <!-- Profesion input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="profesion">Profesión</label>
                  <input type="text" id="profesion" class="form-control" name="profesion" [(ngModel)]="perso.profesion" required> 
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" class="form-control" name="email" [(ngModel)]="perso.email" required> 
              </div>

              <!-- Provincia input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="provincia">Provincia</label>
                  <input type="text" id="provincia" class="form-control" name="provincia" [(ngModel)]="perso.provincia" required> 
              </div>

              <!-- Descripcion input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="descripcion">Descripción</label>
                  <textarea id="descripcion" class="form-control" rows="3" name="descripcion" [(ngModel)]="perso.descripcion" required></textarea>
              </div>

              <!-- foto Perfil input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="urlFotoPerfil">Foto Perfil</label>
                  <input type="text" id="urlFotoPerfil" class="form-control" name="urlFotoPerfil" [(ngModel)]="perso.urlFotoPerfil" required> 
              </div>

              <!-- Banner input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="urlBanner">Banner</label>
                  <input type="text" id="urlBanner" class="form-control" name="urlBanner" [(ngModel)]="perso.urlBanner" required> 
              </div>

              <!-- Curriculum input -->
              <div class="form-outline mb-4 text-left">
                  <label class="form-label" for="urlPortfolioPdf">Curriculum Pdf</label>
                  <input type="text" id="urlPortfolioPdf" class="form-control" name="urlPortfolioPdf" [(ngModel)]="perso.urlPortfolioPdf" required> 
              </div>
                
              <!-- Submit button -->
              <button type="submit" class="btn-block mb-4 mt-5">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>